.ordercontainer{
    /* background-color: aqua; */
    height: 100vh;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,auto));
}
.orderfoodbox{
    /* background-color: blueviolet; */
    height: 70vh;
    width: 110%;
    display: flex;
    gap: 1rem;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.orderfoodbox1{
 
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    margin-top: 5vw;
    /* margin-left: 5vw; */
    height: 50vh;
    border-bottom: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
    /* border-style: solid;
  border-width: 2px; */
}
.divv
{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
width: 79%;
height: 65vh;
margin-top: 5vh;
display: flex;
padding-block: 20px;
justify-content: center;
align-items: center;
flex-direction: column;
}

.orderfoodbox2{
    /* background-color: rgb(74, 70, 70); */
    height: 40vh;
    width: 70%;
   
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    /* margin-left: 5vw; */
    margin-bottom: 5vw;
    
    /* border-style: solid; */
     
}
.foodinsidebox1{
    /* background-color: azure; */
    height: 40vh;
    width: 50%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.foodinsidebox2{
    /* background-color: rgb(30, 32, 32); */
    height: 40vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foodinsidebox3{
    /* background-color: aqua; */
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foodinsidebox4{
    /* background-color: aqua; */
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderfoodbtn{
    background-color:white;
    border: none;
    color: black;
    border: 2px solid rgb(60, 60, 214);
    padding: 10px 24px;
    text-align: center;
    border-radius: 20px;
}
.orderfoodbtn:hover{
    background-color: rgb(60, 60, 214);
}