.subMain{
    height: auto;
    width: 100%;
    text-align: center;
}
.subCatBox{
    margin-top: 2vw;
    max-width: 1300px;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit,minmax(310px,auto));
    gap: 3rem 2rem;
    height: auto;
    padding: 2rem 2rem;
}
.subCath1{
    padding: 2rem 2rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 3vw;
    -webkit-text-stroke: 1px blue;
     color: transparent;
     text-shadow: none;
    /* color: transparent; */
    /* text-shadow: 2px 2px purple; */
}